body {
    background-color: #1a1a1a;
    font-family: 'Sofia Sans', sans-serif;
}

.welcome-banner {
    background-image: url('images/Flag_of_Super_Earth.webp');
    background-size: cover;
    background-position: center;
    color: #FFEE00;
    height: 100vh; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 120px 60px; 
    position: relative;
    text-align: left;
}

.welcome-banner-content {
    position: relative;
    z-index: 2;
    text-align: left;
    max-width: 500px; 
}

.navbar.custom-navbar {
    background-color: #000000 ;
    border-bottom: 1px solid #FFEE00; 
    font-family: 'Chakra Petch', sans-serif;
}

.navbar.custom-navbar .nav-link {
    color: #FFEE00 ;
    font-weight: 700;
    text-transform: uppercase; 
    transition: 0.3s;
    letter-spacing: 1px;
}

.navbar.custom-navbar .nav-link:hover {
    color: #ffffff ;
    text-shadow: 0 0 10px #FFEE00;
}

.navbar.custom-navbar .nav-link.active {
    text-decoration: underline;
    text-underline-offset: 5px;
}

.dropdown-menu {
    background-color: #000000 ;
    border: 1px solid #FFEE00 ;
    border-radius: 8px;
    padding: 10px 0;
}

.dropdown-item {
    color: #FFEE00 ;
}

.dropdown-item:hover {
    background-color: #FFEE00 ;
    color: #000000 ;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
    -webkit-text-stroke: 2.0px black;
    text-shadow: 4px 4px 0px #000;
    paint-order: stroke fill;
}

.banner-text {
    font-size: 1.2rem;
    margin-top: 10px;
    -webkit-text-stroke: 1.8px black; 
    text-shadow: 2px 2px 0px #000;
    letter-spacing: 1.2px;
    font-weight: bold;
    paint-order: stroke fill;
}
  
.aboutus {
	padding:50px 0px;   
}

h2 {
    text-align:center;
	color: #FFD400;
	font-size: 40px;

}

p {
    color: #FFEE00;
}

.special-notice{
    color: #ff4d4d;
}

.button2 {
    background-color: #000000;color:#FFEE00;border: 2px solid #FFEE00;
    padding: 5px 12px;
    border-radius: 12px; 
}

#aboutimg {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
  }

.btn {
  background-color: black; 
  color: hwb(65 16% 0%); 
  border: 1px solid hwb(65 16% 0%);
}

@media (max-width: 500px) {
    .welcome-banner {
      padding: 40px 10px;
    }
    h1 {
      font-size: 2rem;
    }
  }
 
 
.faction-header {
    height: 400px; 
    display: flex;
    align-items: center;
    padding: 0 10%;
    background-size: cover;
    background-position: center;
    border-bottom: 3px solid #FFEE00;
}


/* TERMINID FACTION STYLING */

.terminid-bg {
    background-image: url('images/Hive_World_Landscape.webp');
}

.terminid-bg .title-with-icon h1 {
    color: #ffb901;
}
.terminid-bg p {
    color: #ff4d4d;
}

.terminid-bg .faction-icon {
    height: 80px;        
    width: auto;        
    filter: drop-shadow(0 0 10px rgba(255, 183, 0, 0.763));
}


/* TERMINID FACTION STYLING --- END */


/* AUTOMATON FACTION STYLING */

.automatons-bg {
    background-image: url('images/automaton\ base\ image.webp');
}

.automatons-bg .title-with-icon h1 {
    color: #ff4d4d;
}
.automatons-bg p {
    color: #ff4d4d;
}

.automatons-bg .faction-icon {
    height: 80px;        
    width: auto;        
    filter: drop-shadow(0 0 10px rgba(255, 46, 46, 0.868));
}

/* AUTOMATON FACTION STYLING --- END */


/* ILLUMINATE FACTION STYLING */

.illuminate-bg {
    background-image: url('images/Metropolis_City_Night_Overview.webp');
}

.illuminate-bg .title-with-icon h1 {
    color: #6b3aba;
}
.illuminate-bg p {
    color: #ff4d4d;
}

.illuminate-bg .faction-icon {
    height: 80px;        
    width: auto;        
    filter: drop-shadow(0 0 10px rgba(107, 58, 186, 1));
}

/* ILLUMINATE FACTION STYLING --- END */

/* PRIMARIES - SECONDARY - STRATAGEM STYLING */

.primaries-bg {
    background-image: url('images/Automaton_Banner_Art_by_pro100ker.webp');
}

.primaries-bg .title-with-icon h1 {
    color: #FFEE00;
}
.primaries-bg p {
    color: #FFEE00;
}

.primaries-bg .faction-icon {
    height: 80px;        
    width: auto;        
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}

/* PRIMARIES - SECONDARY - STRATAGEM --- END */

/* LIGHT - MEDIUM - HEAVY STYLING */

.armour-bg {
    background-image: url('images/wyyvaq5p6wkc1.jpeg');
}

.armour-bg .title-with-icon h1 {
    color: #FFEE00;
}
.armour-bg p {
    color: #FFEE00;
}

.armour-bg .faction-icon {
    height: 80px;        
    width: auto;        
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}

/* LIGHT - MEDIUM - HEAVY STYLING --- END */

/* FAVOURITES STYLING */

.favourites-bg {
    background-image: url('images/400px-Superearth1.webp');
}

.favourites-bg .title-with-icon h1 {
    color: #FFEE00;
}
.favourites-bg p {
    color: #FFEE00;
}

.favourites-bg .faction-icon {
    height: 80px;        
    width: auto;        
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}

/* FAVOURITES STYLING --- END */

/* CONTACT STYLING */

.contact-bg {
    background-image: url('images/anybody-else-feel-super-earth-could-the-next-time-be-a-bit-v0-0hd3wqq769jf1.jpg');
}

.contact-bg .title-with-icon h1 {
    color: #FFEE00;
}
.contact-bg p {
    color: #FFEE00;
}

.contact-bg .faction-icon {
    height: 80px;        
    width: auto;        
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}

/* CONTACT STYLING --- END */

/* QUIZ STYLING */

.quiz-bg {
    background-image: url('images/my-super-earth-patriots-men-and-women-v0-8setboe4qgid1.webp');
}

.quiz-bg .title-with-icon h1 {
    color: #FFEE00;
}
.quiz-bg p {
    color: #FFEE00;
}

.quiz-bg .faction-icon {
    height: 80px;        
    width: auto;        
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}

/* QUIZ STYLING --- END */

.search-container {
    max-width: 500px;
    margin: 20px auto;
}

#enemySearch {
    border-radius: 0;
    padding: 12px;
    font-weight: bold;
    text-transform: uppercase;
}

#enemySearch::placeholder {
    color: #ffb901;
}


/* ENEMY INTEL SECTION */

.title-with-icon {
    display: flex;
    align-items: center; 
    gap: 20px;           
    margin-bottom: 10px; 
}

.title-with-icon h1 {
    margin: 0;
    font-size: 4rem;
    text-transform: uppercase;
}

.intel-container {
    padding: 50px 10%;
    background-color: #1a1a1a; 
}

.enemy-report {
    display: flex;
    gap: 40px;
    background: black;
    border: 1px solid #FFEE00;
    margin-bottom: 40px;
    padding: 30px;
    border-radius: 12px;
    align-items: center;
}

.enemy-image {
    flex: 1; 
    max-width: 400px;
}

.enemy-image img {
    width: 100%;
    border: 2px solid #FFEE00;
    border-radius: 8px;
}

.enemy-details {
    flex: 1.5; 
    font-family: 'Sofia Sans', sans-serif;
}

.enemy-name {
    text-align: left; 
    margin: 0;
    font-size: 2.2rem;
    font-family: 'Sofia Sans', sans-serif;
}

.yellow-divider {
    border: 1px solid #FFEE00;
    opacity: 1;
    margin: 15px 0;
}

.weakspot-box {
    color: #FFEE00; 
    background: #333030;
    padding: 15px;
    border-left: 5px solid #FFEE00;
    font-family: 'Sofia Sans', sans-serif;
}

.weakspot-box h3 {
    font-family: 'Chakra Petch', sans-serif;
}

.weakspot-box ul li {
    color: #FFEE00 ; 
    font-weight: bold;
    margin-bottom: 10px;
    list-style-type: square;
}


@media (max-width: 900px) {
    .enemy-report {
        flex-direction: column;
    }
    .enemy-image {
        max-width: 100%;
    }
}

#noResults {
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
    margin-top: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* ENEMY INTEL SECTION--END */

.hidden { display: none; }

.tooltip-inner {
    background-color: #000;
    color: #ffc107;
    border: 1px solid #ffc107;
    font-family: 'Chakra Petch', sans-serif; 
    font-weight: bold;
    font-style: italic;
}

.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: #ffc107;
}



/* CONTACT FORM */


h1 {
    font-size: 2.5rem;
    margin: 0;
  }

.banner-text {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
.aboutus {
	padding:50px 0px;   
}

.form-container h2 {
    text-align:center;
	color: hwb(65 16% 0%);
	font-size: 40px;

}

p {
    color:hwb(65 16% 0%);
}

.button2 {
    background-color: #000000;color: hwb(65 16% 0%);border: 2px solid hwb(65 16% 0%);
    padding: 10px 24px;
    border-radius: 12px; 
}

#aboutimg {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
  }

#message {
  color: yellow;
  background-color: #333;
  padding: 15px;
  margin-top: 20px;
  border: 2px solid yellow;
  border-radius: 8px;
  text-align: center;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1a1a1a; 
    padding: 20px;
}
.contact-form {
    background-color: black;
    color: yellow;
    width: 700px; 
    border: 2px solid yellow;
    border-radius: 8px;
    padding: 40px; 
}
.contact-form input{
  border: 1px solid yellow;
}
.contact-form textarea {
  background-color: hsl(0, 0%, 100%);
  color: rgb(0, 0, 0);
  border: 1px solid yellow;
}
.error-message {
  color: yellow;
  font-size: 0.9em;
  margin-top: 5px;
}
.contact-form .form-check-label {
  color: yellow;
}
.contact-form button {
    background-color: black;
    color: yellow;
    border: 1px solid yellow;
    padding: 15px; 
    font-size: 1.3rem;
    font-family: 'Chakra Petch', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    transition: 0.3s ease-in-out;
}
.contact-form button:hover {
  background-color: yellow;
  color: black;
}

/*

.dragRaceFormContainer {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 90%; 
  max-width: 800px; 
  padding: 20px; 
  box-sizing: border-box; 
}

#dragRaceForm {
  background-color: black;
  color: hwb(65 16% 0%);
  padding: 40px;
  border-radius: 8px; 
  box-sizing: border-box; 
  width: 100%; 
}

*/

.btn {
  background-color: black; 
  color: hwb(65 16% 0%); 
  border: 1px solid hwb(65 16% 0%);
}





/* QUIZ QUESTIONS STYLING */

.quiz-container {
    max-width: 800px;
    margin: 50px auto;
    background: black;
    border: 2px solid #FFEE00;
    padding: 30px;
}

.question-block {
    margin-bottom: 25px;
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
}

.options {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 15px;
    margin-top: 10px;
}

.options label {
    font-family: 'Sofia Sans', sans-serif;
    color: #FFEE00;
    cursor: pointer;
}

.quiz-actions button {
    background-color: black;
    color: hwb(65 16% 0%);
    border: 1px solid hwb(65 16% 0%);
    padding: 10px 24px;
    border-radius: 12px;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}

.quiz-actions button:hover {
    background-color: hwb(65 16% 0%);
    color: black;
    box-shadow: 0 0 15px hwb(65 16% 0%);
}
