.welcome-banner {
    background-image: url('images/Flag_of_Super_Earth.webp');
    background-size: cover;
    background-position: center;
    color: #FFEE00;
    text-align: center;
    padding: 316px 60px;
    position: relative;
  }
  
.welcome-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
  }

.welcome-banner-content {
    position: relative;
  }
  
h1 {
    font-size: 2.5rem;
    margin: 0;
    -webkit-text-stroke: 2.0px black;
    text-shadow: 4px 4px 0px #000;
    paint-order: stroke fill;
}

.banner-text {
    font-size: 1.2rem;
    margin-top: 10px;
    -webkit-text-stroke: 1.8px black; 
    text-shadow: 2px 2px 0px #000;
    letter-spacing: 1.2px;
    font-weight: bold;
    paint-order: stroke fill;
}

.banner-text {
    font-size: 1.2rem;
    margin-top: 10px;
  }
  
.aboutus {
	padding:50px 0px;   
}

h2 {
    text-align:center;
	color: hwb(65 16% 0%);
	font-size: 40px;

}

p {
    color: #FFEE00;
}

body {
    background-color: #333030;
}

.button2 {
    background-color: #000000;color: hwb(65 16% 0%);border: 2px solid hwb(65 16% 0%);
    padding: 10px 24px;
    border-radius: 12px; 
}

#aboutimg {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
  }

#message {
  color: yellow;
  background-color: #333;
  padding: 15px;
  margin-top: 20px;
  border: 2px solid yellow;
  border-radius: 8px;
  text-align: center;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.contact-form {
  background-color: black;
  color: yellow;
  width: 400px;
  border: 2px solid yellow;
  border-radius: 8px;
  padding: 20px;
}
.contact-form input{
  border: 1px solid yellow;
}
.contact-form textarea {
  background-color: hsl(0, 0%, 100%);
  color: rgb(0, 0, 0);
  border: 1px solid yellow;
}
.error-message {
  color: yellow;
  font-size: 0.9em;
  margin-top: 5px;
}
.contact-form .form-check-label {
  color: yellow;
}
.contact-form button {
  background-color: black;
  color: yellow;
  border: 1px solid yellow;
  padding: 10px 15px;
  width: 100%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.contact-form button:hover {
  background-color: yellow;
  color: black;
}
.dragRaceFormContainer {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: 90%; 
  max-width: 800px; 
  padding: 20px; 
  box-sizing: border-box; 
}

#dragRaceForm {
  background-color: black;
  color: hwb(65 16% 0%);
  padding: 40px;
  border-radius: 8px; 
  box-sizing: border-box; 
  width: 100%; 
}

.btn {
  background-color: black; 
  color: hwb(65 16% 0%); 
  border: 1px solid hwb(65 16% 0%);
}

@media (max-width: 500px) {
    .welcome-banner {
      padding: 40px 10px;
    }
    h1 {
      font-size: 2rem;
    }
  }